/*NORMALIZE*/
body {
  max-width: 100vw; }

body, html, ul {
  margin: 0;
  padding: 0; }

.row {
  margin: 0; }

h2 {
  margin: 0; }

/*TYPOGRAPHY*/
.header {
  font-family: "Montserrat";
  text-transform: uppercase; }

.header--big {
  font-weight: 900;
  font-size: 130px;
  position: relative;
  z-index: 2; }

.header--medium {
  font-weight: 700;
  font-size: 56px; }

.header--small {
  font-weight: 700;
  font-size: 18px; }

.header--xsmall {
  font-weight: 700;
  font-size: 14px; }

.subheader {
  font-family: "Open sans";
  font-size: 16px;
  margin: 15px 0;
  font-weight: 700; }

.subheader--small {
  text-transform: uppercase;
  font-size: 14px; }

.subheader--hero {
  text-align: center; }

.subheader--secondary {
  color: #c69b6e; }

.paragraph {
  font-size: 14px;
  font-family: "Open sans";
  font-weight: 400; }

.sectionheader {
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px 0; }

/*MAIN*/
.landing {
  background-image: url("./img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  box-sizing: border-box; }
  .landing .topbar {
    box-sizing: border-box;
    padding-top: 20px;
    height: 20%; }

.hero {
  height: 80%; }
  .hero__header {
    display: flex;
    width: 100%;
    text-align: center;
    height: 100%;
    flex-direction: column;
    justify-content: space-around; }
  .hero hr {
    background-color: #c69b6e;
    width: 100px;
    height: 5px;
    margin: 0 auto; }
  .hero__arrow {
    width: 50px;
    height: 50px;
    fill: #c69b6e;
    padding: 15px;
    background-color: #11111156;
    border: 1px solid rgba(255, 255, 255, 0.76);
    margin-bottom: 15px;
    cursor: pointer; }
    .hero__arrow:hover {
      background-color: #ffffff36; }

.menu {
  list-style-type: none; }
  .menu__element {
    display: inline-block;
    padding: 7px 10px;
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.76) transparent; }
    .menu__element:hover {
      color: #c69b6e;
      background-color: #11111156;
      border: 1px solid rgba(255, 255, 255, 0.76);
      padding: 6px 9px; }

/*Timeline*/
.history {
  height: 1000px; }

.storyline {
  height: 80%; }
  .storyline__column {
    display: flex;
    flex-direction: column;
    height: 90%; }
  .storyline--left {
    justify-content: space-between; }
  .storyline--right {
    justify-content: center; }
  .storyline .sectionheader {
    height: 20%; }
  .storyline__button {
    color: #ffffff;
    text-align: center;
    padding: 2px 20px;
    display: block; }
    .storyline__button h2 {
      background-color: #c69b6e;
      display: inline-block;
      padding: 7px 20px;
      cursor: pointer; }
      .storyline__button h2:hover {
        background-color: #d4aa7c; }

.storytile {
  padding: 25px;
  border: 1px solid #cccccc;
  display: flex;
  box-sizing: border-box; }
  .storytile__img {
    width: 75px;
    height: 75px;
    padding: 10px;
    border: 1px solid #cccccc;
    margin-right: 20px; }

.timeline__dates {
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column; }
.timeline__datetile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; }
.timeline__line {
  height: 100%;
  width: 2px;
  background-color: #cccccc; }
.timeline__date {
  padding: 0;
  margin: 0; }
.timeline--double {
  flex: 2; }

/*# sourceMappingURL=style.css.map */
