/*NORMALIZE*/
body {
  max-width: 100vw; }

body, html, ul {
  margin: 0;
  padding: 0; }

.row {
  margin: 0; }

h2 {
  margin: 0; }

/*MIXINS*/
/*SPACING*/
/*TYPOGRAPHY*/
.header {
  font-family: "Montserrat";
  text-transform: uppercase; }

.header--big {
  font-weight: 900;
  font-size: 130px;
  position: relative;
  z-index: 2; }

.header--medium {
  font-weight: 700;
  font-size: 56px; }

.header--small {
  font-weight: 700;
  font-size: 18px; }

.header--xsmall {
  font-weight: 700;
  font-size: 14px; }

.header--alt {
  color: #c69b6e; }

.header--pricing {
  font-weight: 700;
  font-size: 72px;
  margin: 0;
  padding: 0; }

.subheader {
  font-family: "Open sans";
  font-size: 16px;
  margin: 15px 0;
  font-weight: 700; }

.subheader--small {
  text-transform: uppercase;
  font-size: 14px; }

.subheader--hero {
  text-align: center; }

.subheader--secondary {
  color: #c69b6e; }

.paragraph {
  font-size: 14px;
  font-family: "Open sans";
  font-weight: 400; }
  .paragraph--muted {
    color: #cccccc; }
  .paragraph--bold {
    font-size: 15px; }

.paragraph-bold {
  font-size: 15px;
  font-family: "Open sans";
  font-weight: 400; }
  .paragraph-bold--muted {
    color: #ffffff; }

@media only screen and (max-width: 550px) {
  .header--medium {
    font-size: 42px; } }
.sectionheader {
  display: block;
  width: 100%;
  text-align: center;
  padding: 50px 0; }

.separator, .services__separator {
  background-color: #42413f;
  width: 30%;
  display: inline-block;
  padding: 0;
  margin: 15px 0; }
  .separator--muted {
    background-color: #cccccc;
    margin: 15px 0 10px 0; }

.input--primary {
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  color: #030303;
  margin-bottom: 50px;
  padding: 15px; }
  .input--primary::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #030303;
    font-size: 14px;
    font-family: "Open sans";
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1; }
  .input--primary::-moz-placeholder {
    /* Firefox 19+ */
    color: #030303;
    font-size: 14px;
    font-family: "Open sans";
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1; }
  .input--primary:-ms-input-placeholder {
    /* IE 10+ */
    color: #030303;
    font-size: 14px;
    font-family: "Open sans";
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1; }
  .input--primary:-moz-placeholder {
    /* Firefox 18- */
    color: #030303;
    font-size: 14px;
    font-family: "Open sans";
    font-weight: 400;
    text-transform: uppercase;
    opacity: 1; }

.xsmall--padding {
  padding: 6px 0; }

/*MAIN*/
.landing {
  background-image: url("./img/main-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  box-sizing: border-box; }
  .landing .topbar {
    box-sizing: border-box;
    padding: 25px;
    height: 20%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }

.hero {
  height: 80%; }
  .hero__header {
    display: flex;
    width: 100%;
    text-align: center;
    height: 100%;
    flex-direction: column;
    justify-content: space-around; }
  .hero hr {
    background-color: #c69b6e;
    width: 100px;
    height: 5px;
    margin: 0 auto; }
  .hero__arrow {
    width: 50px;
    height: 50px;
    fill: #c69b6e;
    padding: 15px;
    background-color: #11111156;
    border: 1px solid rgba(255, 255, 255, 0.76);
    margin-bottom: 15px;
    cursor: pointer; }
    .hero__arrow:hover {
      background-color: #ffffff36; }

@media only screen and (max-width: 430px) {
  .hero__header .header--big {
    font-size: 90px; } }
.main-logo {
  width: 30%; }
  .main-logo__img {
    width: 200px;
    height: auto; }

.menu {
  list-style-type: none;
  text-align: right;
  /*MOBILE*/ }
  .menu__element {
    display: inline-block;
    padding: 7px 10px;
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.76) transparent; }
    .menu__element:hover {
      color: #c69b6e;
      background-color: #11111156;
      border: 1px solid rgba(255, 255, 255, 0.76);
      padding: 6px 9px; }
  .menu__mobile {
    display: none;
    z-index: 20;
    right: 0;
    position: fixed; }
    .menu__mobileIcon {
      width: 60px;
      height: 60px;
      padding: 15px;
      border: 1px solid #42413f;
      background-color: #030303;
      margin-right: 25px;
      cursor: pointer; }
    .menu__mobileList {
      -webkit-transition: transform 500ms ease-out;
      -moz-transition: transform 500ms ease-out;
      -o-transition: transform 500ms ease-out;
      transition: transform 500ms ease-out;
      transform: translateX(100%);
      background-color: #eeeeee;
      color: #030303;
      list-style-type: none;
      width: 100vw;
      position: absolute;
      right: 0;
      margin-top: 15px; }
      .menu__mobileList--active {
        transform: translateX(0); }
      .menu__mobileList hr {
        margin: 0;
        padding: 0; }
    .menu__mobileElement {
      padding: 15px 25px 15px 15px; }

@media only screen and (max-width: 915px) {
  .main-logo {
    width: 50%;
    display: inline-block; }

  .menu {
    width: 100%;
    display: inline-block; }
    .menu__mobile {
      display: block; }
    .menu__list {
      display: none; } }
/*Timeline*/
.history {
  max-width: 1275px;
  margin: 0 auto; }

@media only screen and (max-width: 1275px) {
  .history {
    padding: 0 25px; } }
@media only screen and (max-width: 550px) {
  .history {
    padding: 0 5px; }

  .storytile__mobile {
    flex-direction: column; }

  .storytile__img {
    margin-bottom: 25px; } }
.storyline {
  height: 800px; }
  .storyline__column {
    display: flex;
    flex-direction: column;
    height: 90%; }
  .storyline--left {
    justify-content: space-between; }
  .storyline--right {
    justify-content: center; }
  .storyline .sectionheader {
    height: 20%; }
  .storyline__button, .pricing__button, .contactform__submit {
    color: #ffffff;
    text-align: center;
    padding: 2px 20px;
    display: block;
    margin-bottom: 50px; }
    .storyline__button h2, .pricing__button h2, .contactform__submit h2 {
      background-color: #c69b6e;
      display: inline-block;
      padding: 7px 20px;
      cursor: pointer; }
      .storyline__button h2:hover, .pricing__button h2:hover, .contactform__submit h2:hover {
        background-color: #d4aa7c; }

.storytile, .storytile__mobile {
  padding: 25px;
  border: 1px solid #cccccc;
  display: flex;
  box-sizing: border-box; }
  .storytile__img {
    width: 75px;
    height: 75px;
    padding: 15px;
    border: 1px solid #cccccc;
    margin-right: 25px; }

/*MOBILE*/
.storyline__mobile {
  max-width: 90%;
  margin: 0 auto;
  display: none;
  margin-bottom: 25px; }

.storytiles__mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px 10px; }

.storytile__mobile {
  width: 100%;
  height: 33%;
  margin: 5px 0; }

.timeline__dates {
  height: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column; }
.timeline__datetile {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; }
.timeline__line {
  height: 100%;
  width: 2px;
  background-color: #cccccc; }
.timeline__date {
  padding: 0;
  margin: 0; }
.timeline--double {
  flex: 2; }

.timeline__mobile {
  height: inherit;
  width: 100%; }

.timeline__dates {
  margin: 0 auto; }

@media only screen and (max-width: 990px) {
  .storyline {
    display: none; }

  .storyline__mobile {
    display: flex; } }
.excersises {
  background-color: #030303;
  color: #ffffff; }

.gallery {
  width: 1326px;
  margin: 0 auto; }
  .gallery__window {
    overflow: hidden; }
  .gallery__container {
    display: flex;
    margin: 1px 0;
    -webkit-transition: transform 500ms ease-out;
    -moz-transition: transform 500ms ease-out;
    -o-transition: transform 500ms ease-out;
    transition: transform 500ms ease-out; }
  .gallery__tile {
    margin: 0 25px;
    box-sizing: border-box;
    padding: 25px;
    border: 1px solid #42413f; }
  .gallery__sub {
    padding-top: 15px;
    display: flex;
    flex-direction: column; }
  .gallery__controls {
    text-align: center;
    margin: 50px 0; }
  .gallery__counter {
    text-align: center;
    margin: 15px 0; }
  .gallery__dot {
    display: inline-block;
    height: 7px;
    width: 7px;
    border: 1px solid #42413f;
    margin: 0 3px; }
  .gallery .dot--active {
    background-color: #42413f; }
  .gallery__arrows img {
    width: 50px;
    height: 50px;
    fill: #c69b6e;
    padding: 15px;
    background-color: #11111156;
    border: 1px solid #42413f;
    cursor: pointer;
    margin: 0 5px; }
    .gallery__arrows img:hover {
      background-color: #ffffff36; }

@media only screen and (max-width: 1306px) {
  .gallery {
    width: 884px; } }
@media only screen and (max-width: 884px) {
  .gallery {
    width: 442px; } }
@media only screen and (max-width: 450px) {
  .gallery {
    width: 324px; }
    .gallery__img {
      max-width: 300px;
      padding: 15px; }
    .gallery__sub {
      padding: 15px; }
    .gallery__tile {
      padding: 0;
      margin: 10px; }

  .separator, .services__separator {
    width: 50%; } }
.services__img {
  width: 125px;
  height: 125px;
  padding: 25px;
  margin-bottom: 25px;
  border: 1px solid #cccccc; }
.services__tile {
  text-align: center;
  margin-bottom: 50px;
  width: 33%;
  padding: 25px; }
  .services__tile h1 {
    margin-top: 25px; }
.services__separator {
  display: none; }

@media only screen and (max-width: 884px) {
  .services__wrapper {
    max-width: 300px;
    margin: 0 auto; }
  .services__tile {
    display: block;
    width: 100%;
    margin-bottom: 0; }
  .services__separator {
    display: block;
    margin: 0 auto; } }
.pricing__container {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  padding-bottom: 50px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto; }
.pricing__tile {
  text-align: center;
  background-color: #eeeeee;
  display: inline-flex;
  flex-direction: column;
  padding: 25px;
  margin: 15px;
  width: 25%;
  align-items: center; }
.pricing__list {
  list-style-type: none;
  margin-bottom: 50px; }
  .pricing__list li {
    margin-bottom: 15px; }
.pricing__button {
  margin: auto auto 0 auto;
  align-self: flex-end; }

@media only screen and (max-width: 1210px) {
  .header--pricing {
    font-size: 60px; } }
@media only screen and (max-width: 1140px) {
  .pricing__container {
    flex-wrap: wrap; }
  .pricing__tile {
    width: 40%; } }
@media only screen and (max-width: 450px) {
  .pricing__tile {
    width: 100%; } }
.video {
  widows: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  text-align: center; }
  .video__movie {
    height: auto;
    width: 100%; }
  .video__tag {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; }

@media only screen and (max-width: 450px) {
  .video {
    height: 100vh;
    display: flex;
    justify-content: center; }
    .video__movie {
      height: 100%;
      width: auto; } }
.contact {
  max-width: 1275px;
  margin: 0 auto;
  padding: 0 25px; }

.contactform__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between; }
.contactform__input {
  width: 30%; }
.contactform__message {
  display: inline-block;
  width: 100%;
  height: 200px; }
.contactform__submit h2 {
  padding: 15px 50px;
  background-color: #42413f; }

@media only screen and (max-width: 450px) {
  .contactform__inputs {
    flex-direction: column;
    width: 100%; }
  .contactform__input {
    width: 100%; }

  .input--primary {
    margin-bottom: 5px; } }
.footer {
  background-color: #030303;
  color: #ffffff;
  box-sizing: border-box; }
  .footer__credits {
    box-sizing: border-box; }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin: 0 auto; }
  .footer__icon {
    fill: #c69b6e;
    height: 75px;
    width: 75px;
    padding: 15px;
    border: 1px solid #ffffff;
    margin: 15px;
    cursor: pointer; }
    .footer__icon:hover {
      background-color: #42413f; }
  .footer__social {
    display: flex;
    align-items: center; }

@media only screen and (max-width: 884px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

/*# sourceMappingURL=style.css.map */
